/* Layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Fim - Layout */


/* Smartphone Portrait */
main {
    position: relative;
    height: 50vh;
}

main video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#conteudoPrincipal {
    /* Centralização */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#conteudoPrincipal h1 {
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 25px;
}

#conteudoPrincipal h2 {
    font-size: 0.7rem;
    color: #fff;
}

/* Fim - Smartphone */


/* Notebook-PC */
@media (min-width: 1200px) {
    main {
        height: 95vh;
    }

    #conteudoPrincipal h1 {
        font-size: 1.5rem;
    }

    #conteudoPrincipal h2 {
        font-size: 1.0rem;
    }
}

/* Fim - Notebook-PC */