* {
    margin: 0;
    padding: 0;
}

#destaque {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.carrossel {
    width: 512px; /*sincronizar com o JS */
    /* hidden esconde qualquer conteudo que ultrapasse os limites de um elemento */
    overflow: hidden;
}

.container {
    display: flex;
    /* efeitos de transformação "rolagem no eixo x" */
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.container img {
    max-width: 512px;
}