/* Smartphone Portrait > */
/* Fim - Smartphone Portrair < */

/* Smartphone Landscape > */
@media (min-width: 576px) {
    body {
        background-color: #ff0000;
    }
}

/* Fim - Smartphone Landscape < */


/* Tablet Portrait > */
@media (min-width: 768px) {
    body {
        background-color: #00ff00;
    }
}

/* Fim - Tablet Portrair < */

/* Tablet Landscape > */
@media (min-width: 992px) {
    body {
        background-color: #0000FF;
    }
}

/* Fim - Tablet Landscape < */


/* PC/ NOT > */
@media (min-width: 1200px) {
    body {
        background-color: #ffff00;
    }
}

/* Fim - PC/ NOT < */


/* FULL HD | 4K > */
@media (min-width: 1400px) {
    body {
        background-color: #00ffff;
    }
}

/* Fim - FULL HD | 4K < */